.project
.buildpath
.settings
test.php

/00_docs/
/files/
/nbproject/

_config-truong

/includes/settings.php
/includes/settings_blank.php
/includes/settings_blank.php.old
/includes/settings_secret.inc.php
.DS_Store
*.kpf
